/* Write your code here. */

.navbarContainer {
  display: flex;
  justify-content: center;
  background-color: #ffffff33;
  padding: 8px;
}

.titleWithScoreContainer {
  display: flex;
  justify-content: space-between;
  flex-basis: 80%;
  max-width: 1000px;
}

.logoAndTitleContainer {
  display: flex;
  align-items: center;
}

.emojiLogo {
  width: 24px;
}

@media screen and (min-width: 768px) {
  .emojiLogo {
    width: 48px;
  }
}

.title {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
  }
}

.scoresContainer {
  display: flex;
}

.score {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .score {
    font-size: 24px;
    margin-left: 32px;
  }
}
